header, footer{
   width: 800px;
   height: 80px;
   background: #6b048a;
   clear: both;
   margin-bottom: 20px;
}

h1, p {
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 20px;
    margin: 0;
}

article p, aside p{
    padding: 135px 0;
}

article {
    width: 500px;
    height: 300px;
    background: #7e7e7e;
    float: left;
}

aside {
    width: 280px;
    height: 300px;
    background: #9c9c9c;
    float: left;
    margin-left: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.conteudo {
    width: 800px;
    overflow: hidden; /* para o professor funcionou com o valor auto (????)*/
    margin-bottom: 20px;
}
