/* Estilos Gerais */
body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    @include tipo-2(14);
}

img {
    display: block;
    max-width: 100%;
}

.btn {
    border: 4px solid $primary-color;
    padding: 10px 20px;
    color: $primary-color;
    @include tipo-1(14);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

.btn:hover {
    color: $third-color;
    border-color: $third-color;
}

.btn.btn-preto:hover {
    color: $second-color;
    border-color: $second-color;
}

.subtitulo {
    @include tipo-1(24);
    font-weight: bold;
    letter-spacing: .1em;
    color: $second-color;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $second-color;
    margin: 8px auto;
}

.subtitulo-interno {
    @include tipo-1(24);
    font-weight: bold;
    letter-spacing: .1em;
    color: $second-color;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subtitulo-interno::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $second-color;
    margin: 8px 0;
}

/* Header Home*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: $primary-color;
    padding: 15px 0;
    z-index: 10;
    @include d(m) {
        position: relative;
		padding: 0px;
    }
}

.header img {
    @include d(m) {
        margin: 10px auto 10px auto;
    }
}

.header_menu {
    text-align: right;
    @include d(m) {
        text-align: center;
    }
}

.header_menu ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
    @include d(m) {
        margin: 5px;
    }
}

.header_menu ul li a {
    color: $second-color;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    @include tipo-1(14);
    padding: 10px 0;
    @include d(m) {
        border: 4px solid $second-color;
		width: 136px;
		display: block;
		float: left;
		padding: 10px 0;
    }
}

.header_menu ul li a:hover {
    color: $third-color;
    @include d(m) {
        border-color: $third-color;
    }
}

.header_menu ul li a.menu_ativo {
    color:$third-color;
    @include d(m) {
        border-color: $third-color;
    }
}

/* Introdução Home*/

.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 82px;
    text-align: center;
    padding-top: 80px;
    @include d(m) {
        margin-top: 0;
		padding-top: 50px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
    	background-size: cover;
    }
}

.introducao h1 {
    @include tipo-1(48);
    color: $third-color;
    font-weight: bold;
    text-transform: uppercase;
    @include d(m) {
        @include tipo-1(36);
    }
}

.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 60px;
    color: $third-color;
}

.quote-externo p {
    font-style: italic;
}

.quote-externo p::before, .quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $third-color;
    margin: 14px auto 10px auto;
}

.quote-externo cite {
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    @include tipo-1(14);
    letter-spacing: .1em;
}

/* Introdução Interna */

.introducao-interna {
    width: 100%;
    margin-top: 82px;
    height: 160px;
    text-align: center;
    color: $third-color;
    padding-top: 40px;
    @include d(m) {
        margin-top: 0px;
    }
}

.introducao-interna h1 {
    @include tipo-1(36);
    font-weight: bold;
    text-transform: uppercase;
}

.introducao-interna h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $third-color;
    margin: 6px auto 10px auto;
} 

/* Produtos Home*/

.produtos {
    padding: 40px 0;
}

.produtos_lista li {
    background: $primary-color;
    text-align: center;
}

.produtos_lista li h3 {
    font-weight: bold;
    @include tipo-1(18);
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 17px;
}

.produtos_lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $second-color;
    margin: 2px auto;
}

.produtos_lista li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone {
    background: $second-color;
    padding: 20px;
}

.produtos_icone img {
    margin: 0 auto;
}

.call {
    padding: 40px;
    text-align: center;
    clear: both; /* pois os 3 elementos da lista estão com float*/
    @include d(m) {
        padding-top: 10px;
    }
}

.call p {
    margin-bottom: 20px;
}

/* Portfólio Home*/

.portfolio {
    width: 100%;
    background: $second-color;
    padding: 40px 0;
}

.portfolio .subtitulo {
    color: $primary-color;
}

.portfolio .subtitulo::after {
    background: $primary-color;
}

.portfolio_listas li:last-child {
    margin-top: 20px;
}

.portfolio .call p {
    color: $third-color;
}

/* Qualidade Home*/

.qualidade {
    padding: 40px 0;
}

.qualidade::after {
    content: "";
    width: 634px;
    height: 83px;
    display: block;
    background: url(../img/linhas.svg) no-repeat center;
    position: absolute;
    top: 189px;
    right: 162px;
    z-index: -1;
    @include d(t) {
        right: 66px;
    }
    @include d(m) {
        display: none;
    }
}

.qualidade_lista .grid-1-3 {
    @include d(m) {
        width: 290px;
    }
}

.qualidade img {
    margin: 0 auto;
}

.qualidade_lista {
    padding-top: 20px;
    overflow: auto; /* limpar a flutuação*/
}

.qualidade_lista li {
    text-align: center;
    padding: 0 40px;
    @include d(t) {
        text-align: center;
		padding: 0 10px;
    }
}

.qualidade_lista li h3 {
    font-weight: bold;
    @include tipo-1(18);
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-top: 17px;
}

.qualidade_lista li h3::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: $second-color;
    margin: 6px auto;
}

/* Imagem antes footer */

.quebra {
    width: 100%;
    height: 220px;
    background: url(../img/bg-footer.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    padding: 40px;
}

.quebra .quote-externo {
    max-width: 400px;
}

/* Footer */
.footer {
    width: 100%;
    background: $second-color;
    color: $third-color;
    padding: 20px 0;
}

.footer h3 {
    @include tipo-1(18);
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}

.footer h3::after {
    content: "";
    width: 60px;
    height: 3px;
    display: block;
    background: $primary-color;
    margin: 6px 0 12px 0;
}

.footer_historia {
    padding-right: 40px;
}

.footer_contato ul li{
    @include tipo-2(14);
}

.footer_redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer_redes ul li a {
    border: 3px solid $primary-color;
    display: block;
    padding: 10px;
    transition: all .5s ease;
    @include d(t) {
        border: 3px solid $primary-color;
        display: block;
        padding: 6px;
    }
}

.footer_redes ul li a img {
    @include d(t) {
        width: 26px;
        height: 26px;
    }
}


.footer_redes ul li a:hover {
    border-color: $third-color;
}

/* Copy */

.copy {
    width: 100%;
    background: $primary-color;
    padding: 20px 0;
}

.copy p{
    @include tipo-1(14);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;

}

/* JavaScript */
.js [data-slide] {
    position: relative;
}

.js [data-slide] > * {
position: absolute;
top: 0px;
opacity: 0;
}

.js [data-slide] > .active {
position: relative;
opacity: 1;
transition: opacity 500ms;
z-index: 1;
}  

.js [data-slide-nav] {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.js [data-slide-nav] button {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 4px;
    border: none;
    padding: 0px;
    border-radius: 6px;
    text-indent: -99px;
    overflow: hidden;
    background: #1d1d1d;
}

.js [data-slide-nav] button.active {
    background: $primary-color;
}

.js [data-anime] {
    opacity: 0;
}

.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
}

.js .anime {
    opacity: 1;
    transform: none;
    transition: opacity 800ms, transform 800ms;
}

.nao-aparece {
    visibility: hidden;
    position: absolute;
    height: 0px;
}

#form-sucesso {
    color: #31aa39;
}

#form-erro {
    color: #f64540;
}